<div class="cabecera text-light">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/files/petmarkt_-_sabemos_como_-_blanco_1036x217.png?v=1613525359" alt="" class="me-3">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="d-flex me-3" role="search">
          <input class="form-control me-2" type="search" placeholder="¿Qué es lo que estas buscando?" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            <i class="bi bi-gift  "></i>
          </div>
          <div class="col col-lg-10">
            Plan de volumen<p class="texto">Gana hasta 11% más de margen</p>
          </div>

        </div>
        <i class="bi bi-cart-fill"></i>
      </div>
    </div>
  </nav>
</div>



<div class="opciones">
  <div class="d-flex flex-row mb-3 ">
    <!-- Example single danger button -->
    <div class="btn-group ">
      <button type="button" class="btn btn-darkdropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false">
        MARCA <i class="bi bi-caret-down-fill"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- Example single danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-darkdropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false">
        PERROS <i class="bi bi-caret-down-fill"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

        <!-- Example single danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-darkdropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false">
        GATOS <i class="bi bi-caret-down-fill"></i>

      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>


    <!-- Example single danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-darkdropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false">
        TECNOLOGÍA <i class="bi bi-caret-down-fill"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>


  </div>

</div>





















