img
{
  width: 220px;
}
form{
  width: 80%;
}
.cabecera{
  background: #000;
}
.bi-gift{
  font-size: 30px;
}
.bi-cart-fill{
  font-size: 25px;
}
.opciones{
  height: 50px;
  background: #000;
}
.texto{
  font-size: 10px;
}

