<app-header></app-header>

<div class="card rectangulo text-center text-light">

  ¿Eres una veterinaria o Pet Dhop?¡Registrate y obtén un descuentos de mayoreo!

</div>

<app-section></app-section>

<br><br><br>

<div>
  <h3>NUESTROS NUEVOS LANZAMIENTOS</h3>
</div>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card producto" style="width: 15rem;">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_250x250.jpg?v=1671217465" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card producto " style="width: 15rem;">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Frente_Pollo_869x869.png?v=1670971804" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card producto" style="width: 15rem;">
        <img  src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_1800x1800.png?v=1670972685" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card producto" style="width: 15rem;">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Salmon_869x869.png?v=1670972296" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card producto" style="width: 15rem;">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Pork_1800x1800.png?v=1670970995" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</div>
<br><br><br><br><br><br>
<app-footer></app-footer>
