.informacion{
  background: #4e2a81 ;
}
.imagen2{
  width: 100%;
}
.imgWrapper4 {
  background:  #613d94;

  font-size: 0;
  text-align: center;

}
.imgWrapper4 .imgResponsiva{
  display: inline-block;
  font-size: inherit;
}
.imgWrapper4 .imgResponsiva {width: 15%; max-width: 150px;}

.imgResponsiva img {
  height: auto;
  width: 10%;
}
h4{
  color: #ffffff;
}
h5{
  color: #ffffff;
}
